In [299]:
import pandas as pd
import numpy as np 
import sklearn.datasets as dta
import scipy.stats as st
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder

In [300]:
path = "../CO_Accidents.csv"
df = pd.read_csv(path)
df.head()

,Unnamed: 0,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,A-512446,Source2,3,2022-09-08 13:03:18,2022-09-08 13:32:26,39.848122,-104.985306,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,A-512565,Source2,1,2022-09-08 08:44:08,2022-09-08 09:13:40,39.776600,-105.062630,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,A-512637,Source2,2,2022-09-08 06:57:38,2022-09-08 07:27:23,39.899731,-104.868507,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,A-512643,Source2,1,2022-09-08 08:45:51,2022-09-08 09:15:28,39.618809,-104.773201,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,A-512644,Source2,3,2022-09-08 08:42:23,2022-09-08 09:11:57,39.725094,-105.012817,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day

In [301]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90885 entries, 0 to 90884
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             90885 non-null  int64
 1   ID                     90885 non-null  object
 2   Source                 90885 non-null  object
 3   Severity               90885 non-null  int64
 4   Start_Time             90885 non-null  object
 5   End_Time               90885 non-null  object
 6   Start_Lat              90885 non-null  float64
 7   Start_Lng              90885 non-null  float64
 8   End_Lat                47671 non-null  float64
 9   End_Lng                47671 non-null  float64
 10  Distance(mi)           90885 non-null  float64
 11  Description            90885 non-null  object
 12  Street                 90727 non-null  object
 13  City                   90877 non-null  object
 14  County                 90885 non-null  object
 15  State                  90885 non-null  object
 16  Zipcode                90885 non-null  object
 17  Country                90885 non-null  object
 18  Timezone               90884 non-null  object
 19  Airport_Code           90717 non-null  object
 20  Weather_Timestamp      89863 non-null  object
 21  Temperature(F)         89602 non-null  float64
 22  Wind_Chill(F)          73624 non-null  float64
 23  Humidity(%)            89518 non-null  float64
 24  Pressure(in)           89805 non-null  float64
 25  Visibility(mi)         89255 non-null  float64
 26  Wind_Direction         89319 non-null  object
 27  Wind_Speed(mph)        84678 non-null  float64
 28  Precipitation(in)      62826 non-null  float64
 29  Weather_Condition      89475 non-null  object
 30  Amenity                90885 non-null  bool
 31  Bump                   90885 non-null  bool
 32  Crossing               90885 non-null  bool
 33  Give_Way               90885 non-null  bool
 34  Junction               90885 non-null  bool
 35  No_Exit                90885 non-null  bool
 36  Railway                90885 non-null  bool
 37  Roundabout             90885 non-null  bool
 38  Station                90885 non-null  bool
 39  Stop                   90885 non-null  bool
 40  Traffic_Calming        90885 non-null  bool
 41  Traffic_Signal         90885 non-null  bool
 42  Turning_Loop           90885 non-null  bool
 43  Sunrise_Sunset         90644 non-null  object
 44  Civil_Twilight         90644 non-null  object
 45  Nautical_Twilight      90644 non-null  object
 46  Astronomical_Twilight  90644 non-null  object
dtypes: bool(13), float64(12), int64(2), object(20)
memory usage: 24.7+ MB

In [302]:
df.describe()

,Unnamed: 0,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,9.088500e+04,90885.000000,90885.000000,90885.000000,47671.000000,47671.000000,90885.000000,89602.000000,73624.000000,89518.000000,89805.000000,89255.000000,84678.000000,62826.000000
mean,3.909138e+06,2.443902,39.537114,-105.088422,39.496544,-105.190225,0.908223,47.536737,41.517384,52.383889,25.790389,11.280650,8.511995,0.001544
std,2.172853e+06,0.658282,0.572171,0.727363,0.664135,0.911719,2.930441,22.323277,26.108202,26.653627,2.962336,9.507933,6.273117,0.014303
min,5.124150e+05,1.000000,36.993870,-109.047048,36.993840,-109.283380,0.000000,-89.000000,-89.000000,1.000000,16.820000,0.000000,0.000000,0.000000
25%,2.057112e+06,2.000000,39.473172,-105.053238,39.322652,-105.181332,0.000000,30.000000,21.000000,29.000000,24.170000,10.000000,5.000000,0.000000
50%,3.614846e+06,2.000000,39.710964,-104.980141,39.696670,-104.987440,0.037000,46.900000,38.000000,50.000000,24.500000,10.000000,7.000000,0.000000
75%,5.449918e+06,3.000000,39.785191,-104.847168,39.802100,-104.860438,0.849000,64.900000,63.000000,77.000000,29.830000,10.000000,11.500000,0.000000
max,7.728193e+06,4.000000,41.002288,-102.044781,41.056590,-102.030371,254.399994,104.000000,104.000000,100.000000,30.940000,90.000000,254.300000,1.050000

In [303]:
len(df)

90885

In [304]:
df_drop = df.drop(columns = ["Source", "Start_Lat", "Start_Lng", "Description", "Timezone", "Weather_Timestamp", "Airport_Code", "Country", "Zipcode", "Street", "City", "County", "State", "Distance(mi)", "End_Lat", "End_Lng"])
df_drop

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,A-512446,3,2022-09-08 13:03:18,2022-09-08 13:32:26,93.0,93.0,11.0,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,A-512565,1,2022-09-08 08:44:08,2022-09-08 09:13:40,86.0,86.0,13.0,24.43,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,A-512637,2,2022-09-08 06:57:38,2022-09-08 07:27:23,71.0,71.0,26.0,24.62,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,A-512643,1,2022-09-08 08:45:51,2022-09-08 09:15:28,78.0,78.0,21.0,24.23,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,A-512644,3,2022-09-08 08:42:23,2022-09-08 09:11:57,86.0,86.0,13.0,24.43,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90880,7728172,A-7777540,2,2019-08-23 16:23:28,2019-08-23 16:52:30,86.0,86.0,14.0,24.38,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90881,7728181,A-7777549,3,2019-08-23 17:43:51,2019-08-23 18:13:31,80.0,80.0,27.0,24.97,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90882,7728187,A-7777555,3,2019-08-23 18:52:03,2019-08-23 19:21:34,82.0,82.0,20.0,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90883,7728192,A-7777560,4,2019-08-23 20:15:17,2019-08-23 20:43:52,76.0,76.0,36.0,25.19,10.0,...,False,False,False,False,False,False,Night,Night,Day,Day
90884,7728193,A-7777561,3,2019-08-23 20:12:15,2019-08-23 22:12:06,76.0,76.0,36.0,25.19,10.0,...,False,False,False,False,False,False,Night,Night,Day,Day

In [305]:
df_drop = df_drop.drop_duplicates()
df_drop = df_drop.dropna(how='any')

In [306]:
df_drop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61402 entries, 0 to 90884
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             61402 non-null  int64
 1   ID                     61402 non-null  object
 2   Severity               61402 non-null  int64
 3   Start_Time             61402 non-null  object
 4   End_Time               61402 non-null  object
 5   Temperature(F)         61402 non-null  float64
 6   Wind_Chill(F)          61402 non-null  float64
 7   Humidity(%)            61402 non-null  float64
 8   Pressure(in)           61402 non-null  float64
 9   Visibility(mi)         61402 non-null  float64
 10  Wind_Direction         61402 non-null  object
 11  Wind_Speed(mph)        61402 non-null  float64
 12  Precipitation(in)      61402 non-null  float64
 13  Weather_Condition      61402 non-null  object
 14  Amenity                61402 non-null  bool
 15  Bump                   61402 non-null  bool
 16  Crossing               61402 non-null  bool
 17  Give_Way               61402 non-null  bool
 18  Junction               61402 non-null  bool
 19  No_Exit                61402 non-null  bool
 20  Railway                61402 non-null  bool
 21  Roundabout             61402 non-null  bool
 22  Station                61402 non-null  bool
 23  Stop                   61402 non-null  bool
 24  Traffic_Calming        61402 non-null  bool
 25  Traffic_Signal         61402 non-null  bool
 26  Turning_Loop           61402 non-null  bool
 27  Sunrise_Sunset         61402 non-null  object
 28  Civil_Twilight         61402 non-null  object
 29  Nautical_Twilight      61402 non-null  object
 30  Astronomical_Twilight  61402 non-null  object
dtypes: bool(13), float64(7), int64(2), object(9)
memory usage: 9.7+ MB

In [307]:
le = LabelEncoder()
df_drop['ID'] = le.fit_transform(df_drop['ID'])
df_drop.set_index('ID')

df_drop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61402 entries, 0 to 90884
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             61402 non-null  int64
 1   ID                     61402 non-null  int64
 2   Severity               61402 non-null  int64
 3   Start_Time             61402 non-null  object
 4   End_Time               61402 non-null  object
 5   Temperature(F)         61402 non-null  float64
 6   Wind_Chill(F)          61402 non-null  float64
 7   Humidity(%)            61402 non-null  float64
 8   Pressure(in)           61402 non-null  float64
 9   Visibility(mi)         61402 non-null  float64
 10  Wind_Direction         61402 non-null  object
 11  Wind_Speed(mph)        61402 non-null  float64
 12  Precipitation(in)      61402 non-null  float64
 13  Weather_Condition      61402 non-null  object
 14  Amenity                61402 non-null  bool
 15  Bump                   61402 non-null  bool
 16  Crossing               61402 non-null  bool
 17  Give_Way               61402 non-null  bool
 18  Junction               61402 non-null  bool
 19  No_Exit                61402 non-null  bool
 20  Railway                61402 non-null  bool
 21  Roundabout             61402 non-null  bool
 22  Station                61402 non-null  bool
 23  Stop                   61402 non-null  bool
 24  Traffic_Calming        61402 non-null  bool
 25  Traffic_Signal         61402 non-null  bool
 26  Turning_Loop           61402 non-null  bool
 27  Sunrise_Sunset         61402 non-null  object
 28  Civil_Twilight         61402 non-null  object
 29  Nautical_Twilight      61402 non-null  object
 30  Astronomical_Twilight  61402 non-null  object
dtypes: bool(13), float64(7), int64(3), object(8)
memory usage: 9.7+ MB

In [308]:
# df_drop['ID'] = df_drop['ID'].apply(lambda x: x.replace('A-', ''))
# df_drop.head()

In [309]:
df_drop['Start_Time'] = df_drop['Start_Time'].apply(lambda x: x.replace('-', '').replace(':', ''))
df_drop.head()

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,35432,3,20220908 130318,2022-09-08 13:32:26,93.0,93.0,11.0,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,35458,1,20220908 084408,2022-09-08 09:13:40,86.0,86.0,13.0,24.43,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,35468,2,20220908 065738,2022-09-08 07:27:23,71.0,71.0,26.0,24.62,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,35469,1,20220908 084551,2022-09-08 09:15:28,78.0,78.0,21.0,24.23,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,35470,3,20220908 084223,2022-09-08 09:11:57,86.0,86.0,13.0,24.43,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day

In [310]:
df_drop['End_Time'] = df_drop['End_Time'].apply(lambda x: x.replace('-', '').replace(':', ''))
df_drop.head()

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,35432,3,20220908 130318,20220908 133226,93.0,93.0,11.0,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,35458,1,20220908 084408,20220908 091340,86.0,86.0,13.0,24.43,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,35468,2,20220908 065738,20220908 072723,71.0,71.0,26.0,24.62,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,35469,1,20220908 084551,20220908 091528,78.0,78.0,21.0,24.23,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,35470,3,20220908 084223,20220908 091157,86.0,86.0,13.0,24.43,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day

In [311]:
#df_drop['ID'] = df_drop['ID'].astype(float) 
# df_drop['ID'] = df_drop['ID'].astype(int)
# df_drop['ID'].dtypes

In [312]:
# df_drop[['Start_Time', 'End_Time']] = df_drop[['Start_Time', 'End_Time']].astype(str)
# df_drop['Start_Time'] = df_drop['Start_Time'].str.strip()
# df_drop['End_Time'] = df_drop['Start_Time'].str.strip()
# #df_drop['Start_Time'] = pd.to_datetime(df_drop['Start_Time'], format='%Y%m%d', errors='coerce')
# df_drop['Start_Time'] = pd.to_numeric(df_drop['Start_Time'], errors='coerce')
# df_drop['End_Time'] = pd.to_numeric(df_drop['End_Time'], errors='coerce')
# df_drop[['Start_Time', 'End_Time']] = df_drop[['Start_Time', 'End_Time']].astype(float)

In [313]:
df_drop[['Start_Time', 'End_Time']] = df_drop[['Start_Time', 'End_Time']].astype(str)
df_drop['Start_Time'] = df_drop['Start_Time'].str.strip()
df_drop['End_Time'] = df_drop['End_Time'].str.strip()
df_drop['Start_Time'] = pd.to_datetime(df_drop['Start_Time'], errors='coerce')
df_drop['End_Time'] = pd.to_datetime(df_drop['End_Time'], errors='coerce')
df_drop[['Start_Time', 'End_Time']] = df_drop[['Start_Time', 'End_Time']].apply(pd.to_numeric, errors='coerce')
df_drop[['Start_Time', 'End_Time']].dtypes

Start_Time    int64
End_Time      int64
dtype: object

In [314]:
non_numeric = df_drop['Temperature(F)'].apply(lambda x: isinstance(x, str))
non_numeric.value_counts()
df_drop.fillna(0)
df_drop['Temperature(F)'].info()

<class 'pandas.core.series.Series'>
Index: 61402 entries, 0 to 90884
Series name: Temperature(F)
Non-Null Count  Dtype
--------------  -----
61402 non-null  float64
dtypes: float64(1)
memory usage: 959.4 KB

In [315]:
df_drop['Wind_Direction'].value_counts()

Wind_Direction
CALM        7918
N           6202
S           5289
W           4076
NNW         3934
NNE         3291
SSE         3197
E           2996
SSW         2735
NW          2707
NE          2548
SE          2490
WSW         2445
SW          2437
WNW         2404
ESE         2280
ENE         2089
VAR         2026
North        222
East          45
South         41
West          20
Variable      10
Name: count, dtype: int64

In [316]:
df_drop['Wind_Direction'] = df_drop['Wind_Direction'].astype(str)
df_drop['Wind_Direction'] = df_drop['Wind_Direction'].str.upper()
df_drop['Wind_Direction'].value_counts()

Wind_Direction
CALM        7918
N           6202
S           5289
W           4076
NNW         3934
NNE         3291
SSE         3197
E           2996
SSW         2735
NW          2707
NE          2548
SE          2490
WSW         2445
SW          2437
WNW         2404
ESE         2280
ENE         2089
VAR         2026
NORTH        222
EAST          45
SOUTH         41
WEST          20
VARIABLE      10
Name: count, dtype: int64

In [317]:
#Collect non-numerics

non_num_df = df_drop.select_dtypes(include=['object', 'bool'])
print(non_num_df)

      Wind_Direction Weather_Condition  Amenity   Bump  Crossing  Give_Way  \
0                 NE     Partly Cloudy    False  False     False     False
1                WNW              Fair    False  False     False     False
2                 SW              Fair    False  False      True     False
3                 SW              Fair    False  False      True     False
4                WNW              Fair    False  False     False     False
...              ...               ...      ...    ...       ...       ...
90880              E     Mostly Cloudy    False  False     False     False
90881              S            Cloudy    False  False     False     False
90882            ESE            Cloudy    False  False     False     False
90883            NNE     Partly Cloudy    False  False     False     False
90884            NNE     Partly Cloudy    False  False     False     False

       Junction  No_Exit  Railway  Roundabout  Station   Stop  \
0         False    False    False       False    False  False
1         False    False    False       False    False  False
2         False    False    False       False    False  False
3         False    False    False       False    False  False
4         False    False    False       False    False  False
...         ...      ...      ...         ...      ...    ...
90880     False    False    False       False    False  False
90881     False    False    False       False    False  False
90882     False    False    False       False    False  False
90883      True    False    False       False    False  False
90884     False    False    False       False    False  False

       Traffic_Calming  Traffic_Signal  Turning_Loop Sunrise_Sunset  \
0                False           False         False            Day
1                False            True         False            Day
2                False            True         False            Day
3                False            True         False            Day
4                False           False         False            Day
...                ...             ...           ...            ...
90880            False           False         False            Day
90881            False           False         False            Day
90882            False           False         False            Day
90883            False           False         False          Night
90884            False           False         False          Night

      Civil_Twilight Nautical_Twilight Astronomical_Twilight
0                Day               Day                   Day
1                Day               Day                   Day
2                Day               Day                   Day
3                Day               Day                   Day
4                Day               Day                   Day
...              ...               ...                   ...
90880            Day               Day                   Day
90881            Day               Day                   Day
90882            Day               Day                   Day
90883          Night               Day                   Day
90884          Night               Day                   Day

[61402 rows x 19 columns]

In [318]:
# df_drop['Temperature(F)'] = int(round(df_drop['Temperature(F)'], 0))
# df_drop.head()

In [319]:
#df_drop.rename(columns={'ID': 'df_drop_ID'}, inplace=True)
#df_drop

In [320]:
df_drop['Temperature(F)'].fillna(0, inplace=True)
df_drop['Temperature(F)'] = np.ceil(df_drop['Temperature(F)'])
df_drop['Temperature(F)'] = df_drop['Temperature(F)'].apply(int)
#df_drop['Temperature(F)'] = round(df_drop['Temperature(F)'].apply(int))

df_drop

# df_drop['Temperature(F)'] = pd.to_numeric(df_drop['Temperature(F)'], errors='coerce')
# df_drop.dropna(subset=['Temperature(F)'], inplace=True)
# df_drop['Temperature(F)'] = df_drop['Temperature(F)'].astype(int)

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,35432,3,1662642198000000000,1662643946000000000,93,93.0,11.0,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,35458,1,1662626648000000000,1662628420000000000,86,86.0,13.0,24.43,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,35468,2,1662620258000000000,1662622043000000000,71,71.0,26.0,24.62,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,35469,1,1662626751000000000,1662628528000000000,78,78.0,21.0,24.23,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,35470,3,1662626543000000000,1662628317000000000,86,86.0,13.0,24.43,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90880,7728172,58554,2,1566577408000000000,1566579150000000000,86,86.0,14.0,24.38,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90881,7728181,58555,3,1566582231000000000,1566584011000000000,80,80.0,27.0,24.97,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90882,7728187,58556,3,1566586323000000000,1566588094000000000,82,82.0,20.0,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90883,7728192,58557,4,1566591317000000000,1566593032000000000,76,76.0,36.0,25.19,10.0,...,False,False,False,False,False,False,Night,Night,Day,Day
90884,7728193,58558,3,1566591135000000000,1566598326000000000,76,76.0,36.0,25.19,10.0,...,False,False,False,False,False,False,Night,Night,Day,Day

In [321]:
df_drop['Wind_Chill(F)'].fillna(0, inplace=True)
df_drop['Wind_Chill(F)'] = np.ceil(df_drop['Wind_Chill(F)'])
df_drop['Wind_Chill(F)'] = df_drop['Wind_Chill(F)'].apply(int)
#df_drop['Wind_Chill(F)'] = round(df_drop['Wind_Chill(F)'].apply(int))
df_drop

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,35432,3,1662642198000000000,1662643946000000000,93,93,11.0,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,35458,1,1662626648000000000,1662628420000000000,86,86,13.0,24.43,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,35468,2,1662620258000000000,1662622043000000000,71,71,26.0,24.62,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,35469,1,1662626751000000000,1662628528000000000,78,78,21.0,24.23,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,35470,3,1662626543000000000,1662628317000000000,86,86,13.0,24.43,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90880,7728172,58554,2,1566577408000000000,1566579150000000000,86,86,14.0,24.38,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90881,7728181,58555,3,1566582231000000000,1566584011000000000,80,80,27.0,24.97,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90882,7728187,58556,3,1566586323000000000,1566588094000000000,82,82,20.0,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90883,7728192,58557,4,1566591317000000000,1566593032000000000,76,76,36.0,25.19,10.0,...,False,False,False,False,False,False,Night,Night,Day,Day
90884,7728193,58558,3,1566591135000000000,1566598326000000000,76,76,36.0,25.19,10.0,...,False,False,False,False,False,False,Night,Night,Day,Day

In [322]:
df_drop['Humidity(%)'].fillna(0, inplace=True)
df_drop['Humidity(%)'] = np.ceil(df_drop['Humidity(%)'])
df_drop['Humidity(%)'] = df_drop['Humidity(%)'].apply(int)
#df_drop['Humidity(%)'] = round(df_drop['Humidity(%)'].apply(int))
df_drop

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,35432,3,1662642198000000000,1662643946000000000,93,93,11,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,35458,1,1662626648000000000,1662628420000000000,86,86,13,24.43,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,35468,2,1662620258000000000,1662622043000000000,71,71,26,24.62,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,35469,1,1662626751000000000,1662628528000000000,78,78,21,24.23,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,35470,3,1662626543000000000,1662628317000000000,86,86,13,24.43,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90880,7728172,58554,2,1566577408000000000,1566579150000000000,86,86,14,24.38,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90881,7728181,58555,3,1566582231000000000,1566584011000000000,80,80,27,24.97,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90882,7728187,58556,3,1566586323000000000,1566588094000000000,82,82,20,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90883,7728192,58557,4,1566591317000000000,1566593032000000000,76,76,36,25.19,10.0,...,False,False,False,False,False,False,Night,Night,Day,Day
90884,7728193,58558,3,1566591135000000000,1566598326000000000,76,76,36,25.19,10.0,...,False,False,False,False,False,False,Night,Night,Day,Day

In [323]:
df_drop['Pressure(in)'].fillna(0, inplace=True)
df_drop['Pressure(in)'] = np.ceil(df_drop['Pressure(in)'])
df_drop['Pressure(in)'] = df_drop['Pressure(in)'].apply(int)
#df_drop['Pressure(in)'] = round(df_drop['Pressure(in)'].apply(int))
df_drop

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,35432,3,1662642198000000000,1662643946000000000,93,93,11,25,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,35458,1,1662626648000000000,1662628420000000000,86,86,13,25,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,35468,2,1662620258000000000,1662622043000000000,71,71,26,25,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,35469,1,1662626751000000000,1662628528000000000,78,78,21,25,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,35470,3,1662626543000000000,1662628317000000000,86,86,13,25,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90880,7728172,58554,2,1566577408000000000,1566579150000000000,86,86,14,25,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90881,7728181,58555,3,1566582231000000000,1566584011000000000,80,80,27,25,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90882,7728187,58556,3,1566586323000000000,1566588094000000000,82,82,20,25,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90883,7728192,58557,4,1566591317000000000,1566593032000000000,76,76,36,26,10.0,...,False,False,False,False,False,False,Night,Night,Day,Day
90884,7728193,58558,3,1566591135000000000,1566598326000000000,76,76,36,26,10.0,...,False,False,False,False,False,False,Night,Night,Day,Day

In [338]:
df_drop['Visibility(mi)'].fillna(0, inplace=True)
df_drop['Visibility(mi)'] = np.ceil(df_drop['Visibility(mi)'])
df_drop['Visibility(mi)'] = df_drop['Visibility(mi)'].apply(int)
#df_drop['Visibility(mi)'] = round(df_drop['Visibility(mi)'].apply(int))
df_drop

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,35432,3,1662642198000000000,1662643946000000000,93,93,11,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,35458,1,1662626648000000000,1662628420000000000,86,86,13,25,10,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,35468,2,1662620258000000000,1662622043000000000,71,71,26,25,10,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,35469,1,1662626751000000000,1662628528000000000,78,78,21,25,10,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,35470,3,1662626543000000000,1662628317000000000,86,86,13,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90880,7728172,58554,2,1566577408000000000,1566579150000000000,86,86,14,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
90881,7728181,58555,3,1566582231000000000,1566584011000000000,80,80,27,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
90882,7728187,58556,3,1566586323000000000,1566588094000000000,82,82,20,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
90883,7728192,58557,4,1566591317000000000,1566593032000000000,76,76,36,26,10,...,False,False,False,False,False,False,Night,Night,Day,Day
90884,7728193,58558,3,1566591135000000000,1566598326000000000,76,76,36,26,10,...,False,False,False,False,False,False,Night,Night,Day,Day

In [337]:
df_drop['Wind_Speed(mph)'].fillna(0, inplace=True)
df_drop['Wind_Speed(mph)'] = np.ceil(df_drop['Wind_Speed(mph)'])
df_drop['Wind_Speed(mph)'] = df_drop['Wind_Speed(mph)'].apply(int)
#df_drop['Wind_Speed(mph)'] = round(df_drop['Wind_Speed(mph)'].apply(int))
df_drop

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,35432,3,1662642198000000000,1662643946000000000,93,93,11,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,35458,1,1662626648000000000,1662628420000000000,86,86,13,25,10,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,35468,2,1662620258000000000,1662622043000000000,71,71,26,25,10,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,35469,1,1662626751000000000,1662628528000000000,78,78,21,25,10,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,35470,3,1662626543000000000,1662628317000000000,86,86,13,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90880,7728172,58554,2,1566577408000000000,1566579150000000000,86,86,14,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
90881,7728181,58555,3,1566582231000000000,1566584011000000000,80,80,27,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
90882,7728187,58556,3,1566586323000000000,1566588094000000000,82,82,20,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
90883,7728192,58557,4,1566591317000000000,1566593032000000000,76,76,36,26,10,...,False,False,False,False,False,False,Night,Night,Day,Day
90884,7728193,58558,3,1566591135000000000,1566598326000000000,76,76,36,26,10,...,False,False,False,False,False,False,Night,Night,Day,Day

In [336]:
df_drop['Precipitation(in)'].fillna(0, inplace=True)
df_drop['Precipitation(in)'] = np.ceil(df_drop['Precipitation(in)'])
df_drop['Precipitation(in)'] = df_drop['Precipitation(in)'].apply(int)
df_drop['Precipitation(in)'] = round(df_drop['Precipitation(in)'].apply(int))
df_drop

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,35432,3,1662642198000000000,1662643946000000000,93,93,11,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,35458,1,1662626648000000000,1662628420000000000,86,86,13,25,10,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,35468,2,1662620258000000000,1662622043000000000,71,71,26,25,10,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,35469,1,1662626751000000000,1662628528000000000,78,78,21,25,10,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,35470,3,1662626543000000000,1662628317000000000,86,86,13,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90880,7728172,58554,2,1566577408000000000,1566579150000000000,86,86,14,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
90881,7728181,58555,3,1566582231000000000,1566584011000000000,80,80,27,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
90882,7728187,58556,3,1566586323000000000,1566588094000000000,82,82,20,25,10,...,False,False,False,False,False,False,Day,Day,Day,Day
90883,7728192,58557,4,1566591317000000000,1566593032000000000,76,76,36,26,10,...,False,False,False,False,False,False,Night,Night,Day,Day
90884,7728193,58558,3,1566591135000000000,1566598326000000000,76,76,36,26,10,...,False,False,False,False,False,False,Night,Night,Day,Day

In [335]:
df_drop['Wind_Direction'] = df_drop['Wind_Direction'].replace({'NNW': 'NW', 
                                                                'SSE': 'SE', 
                                                                'Calm':'CALM',
                                                                'SSW': 'SW',
                                                                'NNE': 'NE',
                                                                'WSW': 'SW',
                                                                'WNW': 'NW',
                                                                'ESE': 'SE',
                                                                'ENE': 'NE',
                                                                'S': 'SOUTH',
                                                                'N': 'NORTH',
                                                                'W': 'WEST',
                                                                'E': 'EAST'
                                                    })

# df_drop = df_drop[df_drop['Wind_Direction'] != 'VAR']
# df_drop = df_drop[df_drop['Wind_Direction'] != 'Variable']

df_drop['Wind_Direction'] = df_drop['Wind_Direction'].str.upper()

df_drop = df_drop[(df_drop['Wind_Direction'] != 'VAR') & (df_drop['Wind_Direction'] != 'Variable')]
df_drop['Wind_Direction'].value_counts()

/var/folders/s7/d5dl_ywn63zg7wx1h9wckr2r0000gn/T/ipykernel_6162/1540576966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['Wind_Direction'] = df_drop['Wind_Direction'].replace({'NNW': 'NW',
/var/folders/s7/d5dl_ywn63zg7wx1h9wckr2r0000gn/T/ipykernel_6162/1540576966.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['Wind_Direction'] = df_drop['Wind_Direction'].str.upper()

Wind_Direction
NW          9045
SE          7967
NE          7928
CALM        7918
SW          7617
NORTH       6424
SOUTH       5330
WEST        4096
EAST        3041
VARIABLE      10
Name: count, dtype: int64

In [328]:
# Preprocess "Weather_Condition" column (one-hot encoding)
weather_encoder = OneHotEncoder(sparse_output=False)
weather_encoded = weather_encoder.fit_transform(df[['Weather_Condition']])
weather_columns = weather_encoder.get_feature_names_out(['Weather_Condition'])
df_weather_encoded = pd.DataFrame(weather_encoded, columns=weather_columns)
df_weather_encoded.head()

,Weather_Condition_Blowing Dust,Weather_Condition_Blowing Dust / Windy,Weather_Condition_Blowing Snow,Weather_Condition_Blowing Snow / Windy,Weather_Condition_Clear,Weather_Condition_Cloudy,Weather_Condition_Cloudy / Windy,Weather_Condition_Drizzle,Weather_Condition_Drizzle and Fog,Weather_Condition_Fair,...,Weather_Condition_T-Storm / Windy,Weather_Condition_Thunder,Weather_Condition_Thunder / Windy,Weather_Condition_Thunder / Wintry Mix,Weather_Condition_Thunder in the Vicinity,Weather_Condition_Thunderstorm,Weather_Condition_Thunderstorms and Rain,Weather_Condition_Widespread Dust / Windy,Weather_Condition_Wintry Mix,Weather_Condition_nan
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [334]:
# Preprocess "Wind_Direction" column (one-hot encoding)
wind_encoder = OneHotEncoder(sparse_output=False)
wind_encoded = wind_encoder.fit_transform(df_drop[['Wind_Direction']])
wind_columns = wind_encoder.get_feature_names_out(['Wind_Direction'])
df_wind_encoded = pd.DataFrame(wind_encoded, columns=wind_columns)
df_wind_encoded.head()

,Wind_Direction_CALM,Wind_Direction_EAST,Wind_Direction_NE,Wind_Direction_NORTH,Wind_Direction_NW,Wind_Direction_SE,Wind_Direction_SOUTH,Wind_Direction_SW,Wind_Direction_VARIABLE,Wind_Direction_WEST
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [333]:
# Preprocess Weather_Condition

# Preprocess "Weather_Condition" column (one-hot encoding)
weather_encoder = OneHotEncoder(sparse_output=False)
weather_encoded = weather_encoder.fit_transform(df[['Weather_Condition']])
weather_columns = weather_encoder.get_feature_names_out(['Weather_Condition'])
df_weather_encoded = pd.DataFrame(weather_encoded, columns=weather_columns)
df_weather_encoded.head(5)

,Weather_Condition_Blowing Dust,Weather_Condition_Blowing Dust / Windy,Weather_Condition_Blowing Snow,Weather_Condition_Blowing Snow / Windy,Weather_Condition_Clear,Weather_Condition_Cloudy,Weather_Condition_Cloudy / Windy,Weather_Condition_Drizzle,Weather_Condition_Drizzle and Fog,Weather_Condition_Fair,...,Weather_Condition_T-Storm / Windy,Weather_Condition_Thunder,Weather_Condition_Thunder / Windy,Weather_Condition_Thunder / Wintry Mix,Weather_Condition_Thunder in the Vicinity,Weather_Condition_Thunderstorm,Weather_Condition_Thunderstorms and Rain,Weather_Condition_Widespread Dust / Windy,Weather_Condition_Wintry Mix,Weather_Condition_nan
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [339]:
pd.options.display.max_rows=100
df_drop['Weather_Condition'].value_counts()

Weather_Condition
Fair                            23317
Mostly Cloudy                    9950
Partly Cloudy                    8396
Light Snow                       5561
Cloudy                           5353
Fair / Windy                     1017
Snow                              801
Light Rain                        760
Mostly Cloudy / Windy             551
Partly Cloudy / Windy             471
Fog                               440
Showers in the Vicinity           205
Heavy Snow                        204
Cloudy / Windy                    200
Haze                              198
Thunder in the Vicinity           195
Light Drizzle                     179
Light Snow / Windy                174
Smoke                             169
Light Rain with Thunder           158
Wintry Mix                        152
Thunder                            95
T-Storm                            92
Overcast                           89
Rain                               86
Light Freezing Drizzle             75
Snow / Windy                       62
Light Rain / Windy                 48
N/A Precipitation                  37
Heavy Snow / Windy                 35
Haze / Windy                       33
Light Rain Shower                  24
Fog / Windy                        22
T-Storm / Windy                    22
Patches of Fog                     18
Heavy Rain                         18
Thunder / Windy                    16
Blowing Dust / Windy               16
Blowing Snow / Windy               14
Heavy T-Storm                      11
Light Freezing Fog                 11
Heavy T-Storm / Windy               9
Partial Fog                         8
Widespread Dust / Windy             8
Scattered Clouds                    7
Drizzle                             7
Drizzle and Fog                     6
Rain / Windy                        6
Squalls / Windy                     6
Blowing Snow                        5
Smoke / Windy                       5
Light Snow with Thunder             5
Heavy Rain / Windy                  5
Light Freezing Rain                 5
Clear                               4
Blowing Dust                        2
Light Rain Shower / Windy           2
Heavy Drizzle                       2
Thunder / Wintry Mix                2
Light Drizzle / Windy               1
Light Snow Shower                   1
Light Thunderstorms and Snow        1
Light Thunderstorms and Rain        1
Freezing Drizzle                    1
Squalls                             1
Thunderstorm                        1
Name: count, dtype: int64

In [ ]:
# # one hot encoder for X
# columns_to_encode = ["Amenity",
#                      "Bump",
#                      "Crossing",
#                      "Give_Way",
#                      "Junction",
#                      "No_Exit",
#                      "Railway",
#                      "Roundabout",
#                      "Station"
#                      "Stop"]
# ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
# encoded_data = encoder.fit_transform(df_drop[['columns_to_encode']])
# ohe.set_output(transform="pandas")

# # Fit and transform the OneHotEncoder to the columns to encode
# car_data_ohe = ohe.fit_transform(df_drop[columns_to_encode])
# car_data_ohe.head()
# df_encoded = pd.DataFrame(encoded_data, columns=df_drop.get_feature_names_out(['columns_to_encode']))
# print(df_encoded)

In [345]:
new_list = []

for column in df_drop.columns:
    if df_drop[column].dtypes == "bool":
        new_list.append(column)

In [347]:
# Encoding the Bump column using a custom function

def encode_Bool(column):
    """
    This function encodes marital status by setting yes as 1 and no as 0.
    """
    if column == "True":
        return 1
    else:
        return 0

# Call the encode_Bump function 
for column in new_list:
    df_drop[column] = df_drop[column].apply(encode_Bool)

# Review the DataFrame 
df_drop

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,35432,3,1662642198000000000,1662643946000000000,93,93,11,25,10,...,0,0,0,0,0,0,Day,Day,Day,Day
1,512525,35458,1,1662626648000000000,1662628420000000000,86,86,13,25,10,...,0,0,0,0,0,0,Day,Day,Day,Day
2,512588,35468,2,1662620258000000000,1662622043000000000,71,71,26,25,10,...,0,0,0,0,0,0,Day,Day,Day,Day
3,512593,35469,1,1662626751000000000,1662628528000000000,78,78,21,25,10,...,0,0,0,0,0,0,Day,Day,Day,Day
4,512594,35470,3,1662626543000000000,1662628317000000000,86,86,13,25,10,...,0,0,0,0,0,0,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90880,7728172,58554,2,1566577408000000000,1566579150000000000,86,86,14,25,10,...,0,0,0,0,0,0,Day,Day,Day,Day
90881,7728181,58555,3,1566582231000000000,1566584011000000000,80,80,27,25,10,...,0,0,0,0,0,0,Day,Day,Day,Day
90882,7728187,58556,3,1566586323000000000,1566588094000000000,82,82,20,25,10,...,0,0,0,0,0,0,Day,Day,Day,Day
90883,7728192,58557,4,1566591317000000000,1566593032000000000,76,76,36,26,10,...,0,0,0,0,0,0,Night,Night,Day,Day
90884,7728193,58558,3,1566591135000000000,1566598326000000000,76,76,36,26,10,...,0,0,0,0,0,0,Night,Night,Day,Day

In [ ]:
target = df_drop['Severity']
target_counts = target.value_counts().sort_values(ascending=False)
target_counts

Severity
2    56105
3    26306
4     7504
1      970
Name: count, dtype: int64

In [ ]:
target_counts.sum()

90885

In [ ]:
non_numeric = df_drop['Severity'].apply(lambda x: isinstance(x, str))
print(df_drop[non_numeric])

Empty DataFrame
Columns: [Unnamed: 0, ID, Severity, Start_Time, End_Time, Description, Street, City, County, State, Zipcode, Country, Timezone, Airport_Code, Weather_Timestamp, Temperature(F), Wind_Chill(F), Humidity(%), Pressure(in), Visibility(mi), Wind_Direction, Wind_Speed(mph), Precipitation(in), Weather_Condition, Amenity, Bump, Crossing, Give_Way, Junction, No_Exit, Railway, Roundabout, Station, Stop, Traffic_Calming, Traffic_Signal, Turning_Loop, Sunrise_Sunset, Civil_Twilight, Nautical_Twilight, Astronomical_Twilight]
Index: []

[0 rows x 41 columns]

In [ ]:
# Option 1: Drop rows with non-numeric 'Severity' values
#df_drop = df_drop[~non_numeric]

# Option 2: Replace non-numeric values with NaN and then fill or drop them
#df_drop['Severity'] = pd.to_numeric(df_drop['Severity'], errors='coerce')
#df_drop.dropna(subset=['Severity'], inplace=True)

In [ ]:
wine_corr = wine_data.corr()

In [ ]:
correlations = df_drop.corrwith(df_drop['Severity'])

print(correlations)

ValueError: could not convert string to float: 'A-512446'