In [3]:
import pandas as pd
import numpy as np 
import sklearn.datasets as dta
import scipy.stats as st

In [4]:
path = "../CO_Accidents.csv"
df = pd.read_csv(path)
df.head()

,Unnamed: 0,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,A-512446,Source2,3,2022-09-08 13:03:18,2022-09-08 13:32:26,39.848122,-104.985306,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,A-512565,Source2,1,2022-09-08 08:44:08,2022-09-08 09:13:40,39.776600,-105.062630,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,A-512637,Source2,2,2022-09-08 06:57:38,2022-09-08 07:27:23,39.899731,-104.868507,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,A-512643,Source2,1,2022-09-08 08:45:51,2022-09-08 09:15:28,39.618809,-104.773201,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,A-512644,Source2,3,2022-09-08 08:42:23,2022-09-08 09:11:57,39.725094,-105.012817,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90885 entries, 0 to 90884
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             90885 non-null  int64
 1   ID                     90885 non-null  object
 2   Source                 90885 non-null  object
 3   Severity               90885 non-null  int64
 4   Start_Time             90885 non-null  object
 5   End_Time               90885 non-null  object
 6   Start_Lat              90885 non-null  float64
 7   Start_Lng              90885 non-null  float64
 8   End_Lat                47671 non-null  float64
 9   End_Lng                47671 non-null  float64
 10  Distance(mi)           90885 non-null  float64
 11  Description            90885 non-null  object
 12  Street                 90727 non-null  object
 13  City                   90877 non-null  object
 14  County                 90885 non-null  object
 15  State                  90885 non-null  object
 16  Zipcode                90885 non-null  object
 17  Country                90885 non-null  object
 18  Timezone               90884 non-null  object
 19  Airport_Code           90717 non-null  object
 20  Weather_Timestamp      89863 non-null  object
 21  Temperature(F)         89602 non-null  float64
 22  Wind_Chill(F)          73624 non-null  float64
 23  Humidity(%)            89518 non-null  float64
 24  Pressure(in)           89805 non-null  float64
 25  Visibility(mi)         89255 non-null  float64
 26  Wind_Direction         89319 non-null  object
 27  Wind_Speed(mph)        84678 non-null  float64
 28  Precipitation(in)      62826 non-null  float64
 29  Weather_Condition      89475 non-null  object
 30  Amenity                90885 non-null  bool
 31  Bump                   90885 non-null  bool
 32  Crossing               90885 non-null  bool
 33  Give_Way               90885 non-null  bool
 34  Junction               90885 non-null  bool
 35  No_Exit                90885 non-null  bool
 36  Railway                90885 non-null  bool
 37  Roundabout             90885 non-null  bool
 38  Station                90885 non-null  bool
 39  Stop                   90885 non-null  bool
 40  Traffic_Calming        90885 non-null  bool
 41  Traffic_Signal         90885 non-null  bool
 42  Turning_Loop           90885 non-null  bool
 43  Sunrise_Sunset         90644 non-null  object
 44  Civil_Twilight         90644 non-null  object
 45  Nautical_Twilight      90644 non-null  object
 46  Astronomical_Twilight  90644 non-null  object
dtypes: bool(13), float64(12), int64(2), object(20)
memory usage: 24.7+ MB

In [6]:
df.describe()

,Unnamed: 0,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,9.088500e+04,90885.000000,90885.000000,90885.000000,47671.000000,47671.000000,90885.000000,89602.000000,73624.000000,89518.000000,89805.000000,89255.000000,84678.000000,62826.000000
mean,3.909138e+06,2.443902,39.537114,-105.088422,39.496544,-105.190225,0.908223,47.536737,41.517384,52.383889,25.790389,11.280650,8.511995,0.001544
std,2.172853e+06,0.658282,0.572171,0.727363,0.664135,0.911719,2.930441,22.323277,26.108202,26.653627,2.962336,9.507933,6.273117,0.014303
min,5.124150e+05,1.000000,36.993870,-109.047048,36.993840,-109.283380,0.000000,-89.000000,-89.000000,1.000000,16.820000,0.000000,0.000000,0.000000
25%,2.057112e+06,2.000000,39.473172,-105.053238,39.322652,-105.181332,0.000000,30.000000,21.000000,29.000000,24.170000,10.000000,5.000000,0.000000
50%,3.614846e+06,2.000000,39.710964,-104.980141,39.696670,-104.987440,0.037000,46.900000,38.000000,50.000000,24.500000,10.000000,7.000000,0.000000
75%,5.449918e+06,3.000000,39.785191,-104.847168,39.802100,-104.860438,0.849000,64.900000,63.000000,77.000000,29.830000,10.000000,11.500000,0.000000
max,7.728193e+06,4.000000,41.002288,-102.044781,41.056590,-102.030371,254.399994,104.000000,104.000000,100.000000,30.940000,90.000000,254.300000,1.050000

In [7]:
len(df)

90885

In [8]:
df_drop = df.drop(columns = ["Source", "Start_Lat", "Start_Lng", "Description", "Timezone", "Weather_Timestamp", "Airport_Code", "Country", "Zipcode", "Street", "City", "County", "State", "Distance(mi)", "End_Lat", "End_Lng"])
df_drop

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,A-512446,3,2022-09-08 13:03:18,2022-09-08 13:32:26,93.0,93.0,11.0,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,A-512565,1,2022-09-08 08:44:08,2022-09-08 09:13:40,86.0,86.0,13.0,24.43,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,A-512637,2,2022-09-08 06:57:38,2022-09-08 07:27:23,71.0,71.0,26.0,24.62,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,A-512643,1,2022-09-08 08:45:51,2022-09-08 09:15:28,78.0,78.0,21.0,24.23,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,A-512644,3,2022-09-08 08:42:23,2022-09-08 09:11:57,86.0,86.0,13.0,24.43,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90880,7728172,A-7777540,2,2019-08-23 16:23:28,2019-08-23 16:52:30,86.0,86.0,14.0,24.38,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90881,7728181,A-7777549,3,2019-08-23 17:43:51,2019-08-23 18:13:31,80.0,80.0,27.0,24.97,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90882,7728187,A-7777555,3,2019-08-23 18:52:03,2019-08-23 19:21:34,82.0,82.0,20.0,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
90883,7728192,A-7777560,4,2019-08-23 20:15:17,2019-08-23 20:43:52,76.0,76.0,36.0,25.19,10.0,...,False,False,False,False,False,False,Night,Night,Day,Day
90884,7728193,A-7777561,3,2019-08-23 20:12:15,2019-08-23 22:12:06,76.0,76.0,36.0,25.19,10.0,...,False,False,False,False,False,False,Night,Night,Day,Day

In [9]:
df_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90885 entries, 0 to 90884
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             90885 non-null  int64
 1   ID                     90885 non-null  object
 2   Severity               90885 non-null  int64
 3   Start_Time             90885 non-null  object
 4   End_Time               90885 non-null  object
 5   Temperature(F)         89602 non-null  float64
 6   Wind_Chill(F)          73624 non-null  float64
 7   Humidity(%)            89518 non-null  float64
 8   Pressure(in)           89805 non-null  float64
 9   Visibility(mi)         89255 non-null  float64
 10  Wind_Direction         89319 non-null  object
 11  Wind_Speed(mph)        84678 non-null  float64
 12  Precipitation(in)      62826 non-null  float64
 13  Weather_Condition      89475 non-null  object
 14  Amenity                90885 non-null  bool
 15  Bump                   90885 non-null  bool
 16  Crossing               90885 non-null  bool
 17  Give_Way               90885 non-null  bool
 18  Junction               90885 non-null  bool
 19  No_Exit                90885 non-null  bool
 20  Railway                90885 non-null  bool
 21  Roundabout             90885 non-null  bool
 22  Station                90885 non-null  bool
 23  Stop                   90885 non-null  bool
 24  Traffic_Calming        90885 non-null  bool
 25  Traffic_Signal         90885 non-null  bool
 26  Turning_Loop           90885 non-null  bool
 27  Sunrise_Sunset         90644 non-null  object
 28  Civil_Twilight         90644 non-null  object
 29  Nautical_Twilight      90644 non-null  object
 30  Astronomical_Twilight  90644 non-null  object
dtypes: bool(13), float64(7), int64(2), object(9)
memory usage: 13.6+ MB

In [10]:
df_drop['ID'] = df_drop['ID'].apply(lambda x: x.replace('A-', ''))
df_drop.head()

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,512446,3,2022-09-08 13:03:18,2022-09-08 13:32:26,93.0,93.0,11.0,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,512565,1,2022-09-08 08:44:08,2022-09-08 09:13:40,86.0,86.0,13.0,24.43,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,512637,2,2022-09-08 06:57:38,2022-09-08 07:27:23,71.0,71.0,26.0,24.62,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,512643,1,2022-09-08 08:45:51,2022-09-08 09:15:28,78.0,78.0,21.0,24.23,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,512644,3,2022-09-08 08:42:23,2022-09-08 09:11:57,86.0,86.0,13.0,24.43,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day

In [11]:
df_drop['Start_Time'] = df_drop['Start_Time'].apply(lambda x: x.replace('-', '').replace(':', ''))
df_drop.head()

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,512446,3,20220908 130318,2022-09-08 13:32:26,93.0,93.0,11.0,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,512565,1,20220908 084408,2022-09-08 09:13:40,86.0,86.0,13.0,24.43,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,512637,2,20220908 065738,2022-09-08 07:27:23,71.0,71.0,26.0,24.62,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,512643,1,20220908 084551,2022-09-08 09:15:28,78.0,78.0,21.0,24.23,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,512644,3,20220908 084223,2022-09-08 09:11:57,86.0,86.0,13.0,24.43,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day

In [12]:
df_drop['End_Time'] = df_drop['End_Time'].apply(lambda x: x.replace('-', '').replace(':', ''))
df_drop.head()

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512415,512446,3,20220908 130318,20220908 133226,93.0,93.0,11.0,24.37,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512525,512565,1,20220908 084408,20220908 091340,86.0,86.0,13.0,24.43,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
2,512588,512637,2,20220908 065738,20220908 072723,71.0,71.0,26.0,24.62,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
3,512593,512643,1,20220908 084551,20220908 091528,78.0,78.0,21.0,24.23,10.0,...,False,False,False,False,True,False,Day,Day,Day,Day
4,512594,512644,3,20220908 084223,20220908 091157,86.0,86.0,13.0,24.43,10.0,...,False,False,False,False,False,False,Day,Day,Day,Day

In [13]:
# non_numeric = df_drop['Temperature(F)'].apply(lambda x: isinstance(x, str))
# non_numeric.value_counts()
#df_drop.fillna(0)
df_drop['Temperature(F)'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 90885 entries, 0 to 90884
Series name: Temperature(F)
Non-Null Count  Dtype
--------------  -----
89602 non-null  float64
dtypes: float64(1)
memory usage: 710.2 KB

In [14]:
# df_drop['Temperature(F)'] = int(round(df_drop['Temperature(F)'], 0))
# df_drop.head()

In [15]:
#df_drop.rename(columns={'ID': 'df_drop_ID'}, inplace=True)
#df_drop

In [19]:
df_drop['Temperature(F)'] = df_drop['Temperature(F)'].apply(float)
df_drop['Temperature(F)'] = df_drop['Temperature(F)'].apply(int)
df_drop

# df_drop['Temperature(F)'] = pd.to_numeric(df_drop['Temperature(F)'], errors='coerce')
# df_drop.dropna(subset=['Temperature(F)'], inplace=True)
# df_drop['Temperature(F)'] = df_drop['Temperature(F)'].astype(int)

ValueError: cannot convert float NaN to integer

In [17]:
df_drop['Wind_Direction'].value_counts()

Wind_Direction
CALM        8202
N           6332
NNW         5475
S           5379
SSE         4672
Calm        4341
W           4326
SSW         4258
NNE         4226
SW          4103
WSW         3872
NW          3859
SE          3656
WNW         3518
NE          3349
ESE         3211
E           3062
ENE         2835
South       2692
North       2555
VAR         2036
West        1775
East         963
Variable     622
Name: count, dtype: int64

In [18]:
df_drop['Wind_Direction'].title()

AttributeError: 'Series' object has no attribute 'title'

In [ ]:
target = df_drop['Severity']
target_counts = target.value_counts().sort_values(ascending=False)
target_counts

Severity
2    56105
3    26306
4     7504
1      970
Name: count, dtype: int64

In [ ]:
target_counts.sum()

90885

In [ ]:
non_numeric = df_drop['Severity'].apply(lambda x: isinstance(x, str))
print(df_drop[non_numeric])

Empty DataFrame
Columns: [Unnamed: 0, ID, Severity, Start_Time, End_Time, Description, Street, City, County, State, Zipcode, Country, Timezone, Airport_Code, Weather_Timestamp, Temperature(F), Wind_Chill(F), Humidity(%), Pressure(in), Visibility(mi), Wind_Direction, Wind_Speed(mph), Precipitation(in), Weather_Condition, Amenity, Bump, Crossing, Give_Way, Junction, No_Exit, Railway, Roundabout, Station, Stop, Traffic_Calming, Traffic_Signal, Turning_Loop, Sunrise_Sunset, Civil_Twilight, Nautical_Twilight, Astronomical_Twilight]
Index: []

[0 rows x 41 columns]

In [ ]:
# Option 1: Drop rows with non-numeric 'Severity' values
#df_drop = df_drop[~non_numeric]

# Option 2: Replace non-numeric values with NaN and then fill or drop them
#df_drop['Severity'] = pd.to_numeric(df_drop['Severity'], errors='coerce')
#df_drop.dropna(subset=['Severity'], inplace=True)

In [ ]:
wine_corr = wine_data.corr()

In [ ]:
correlations = df_drop.corrwith(df_drop['Severity'])

print(correlations)

ValueError: could not convert string to float: 'A-512446'